* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow: hidden;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  z-index: 10;
}

.upload-btn {
  background: red;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

/* FEED */
#feed {
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.video-box {
  height: calc(100vh - 50px);
}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO */
.video-info {
  position: absolute;
  bottom: 60px;
  left: 10px;
}